* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
::selection {
    background: none;
}	
.container {
    display: flex;
    flex-direction: column;
    float: left;
    padding: 10px 40px;
    background: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: inset 3px 3px 5px lightgrey,
    3px 3px 5px lightgrey;
}
.container h3 {
    font-size: 35px;
    font-family: monospace;
    color: rebeccapurple;
}
.container #password {
    padding-left: 20px;
    font-size: 20px;
    height: 50px;
    margin-top: 20px;
    width: 90%;
    font-family: monospace;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: inset 3px 3px 5px lightgrey, 3px 3px 5px lightgrey;
    color: #cc0000;
}
.container button {
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    height: 40px;
    width: 35%;
    font-size: 20px;
    cursor: pointer;
}
.container button:hover {
    background-color: rebeccapurple;
}
.fa-clipboard {
    font-size: 20px;
    color: grey;
    margin-left: -30px;
    cursor: pointer;
    transition: .3s;
}
.fa-clipboard:hover {
    color: black;
}
